header{
    background-image: url(../assets/—Pngtree—bokeh\ lights\ background_546902.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navBar ul{
    display:flex;
    justify-content: space-evenly;
    padding-top: 25px;
    a {
        color: #e2d167;
        &:hover, &:focus {
                text-decoration: underline;
            }
        }
}

.nameContainer{
    height:70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}