@media(max-width: 875px){
    h1, h3{
        text-align: center;
        
    }

    .buttonContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .aboutMe{
        width:80%;
    }
   
    .skillList li{
        margin-bottom: 25px;
        width: calc(100% / 4)
    }
        a,
        i {
            font-size: 1.25rem;
        }
        form {
            width: 80%;
        }
    .socials{
        width:60%;
    }
    
    h4{
        text-align: center;
    }
    
}
@media(max-width:500px){
    h1{
        font-size: 5rem;
        margin-bottom: 10px;
    }
    a, i{
        font-size: 1rem;
    }
    .skillList li{
        width: calc(100% / 3)
    }

    .contact .wrapper p{
        width:95%;
    }
    form{
        width:95%;
    }
    
    
    .aboutMe{
        width:95%;
    }

        .socials {
            width: 85%;
        }
}
