@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 125%;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}

h1 {
  font-size: 7rem;
  color: white;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 3rem;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 2rem;
}

p {
  color: #2E3437;
  margin: 0;
}

button {
  border: none;
}

.button {
  background-color: #c9760a;
  color: #2E3437;
  text-transform: lowercase;
  padding: 10px 30px;
  margin-top: 25px;
  display: inline-block;
  border-radius: 4px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.button:hover, .button:focus {
  -webkit-box-shadow: 5px 5px #2d1e20;
          box-shadow: 5px 5px #2d1e20;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.attribution {
  font-size: 0.8rem;
}

header {
  background-image: url(../assets/—Pngtree—bokeh\ lights\ background_546902.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 25px;
}
.navBar ul a {
  color: #e2d167;
}
.navBar ul a:hover, .navBar ul a:focus {
  text-decoration: underline;
}

.nameContainer {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.picContainer img {
  margin: 25px;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-bottom: 0;
}

.aboutMe {
  width: 70%;
  text-align: center;
  padding-bottom: 50px;
}
.aboutMe h2 {
  color: #9d254e;
}

.skills {
  background-color: #e2d167;
}
.skills h2 {
  text-align: center;
  padding: 75px 0 50px;
}

.skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}
.skillList li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillList li i {
  font-size: 3rem;
}

.projects {
  background-color: #F2F4F5;
}

.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .wrapper h2 {
  color: #9d254e;
  padding: 50px 0;
}

.projectContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 25px 0;
}

.skillsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
}
.skillsUsed li {
  padding-right: 15px;
  color: #9d254e;
}

.project2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}

.projectImg, .projectDis {
  width: calc(48% - 50px);
  min-width: 300px;
  padding: 0 25px;
}

.buttonContainer .button {
  margin-right: 15px;
}

.contact {
  background-color: #9d254e;
  color: #F2F4F5;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact .wrapper h2 {
  padding: 50px 0 25px;
  margin-bottom: 75px;
}
.contact .wrapper p {
  width: 60%;
  color: #F2F4F5;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  padding-bottom: 15px;
  position: relative;
}
.socials i {
  color: #EEAF98;
  font-size: 2rem;
  position: absolute;
  top: -60px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.socials i:hover, .socials i:focus {
  font-size: 3rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}
form input, form textarea {
  width: 100%;
}
form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
form .button {
  margin-bottom: 100px;
}

footer {
  background-color: #1a0f26;
  text-align: center;
  padding: 25px 0;
}
footer p {
  color: #F2F4F5;
}